@charset "utf-8";
/* CSS Document */
table{
	margin:0px;
}
#last{
	background:#000;
	background-size:100% 100%;
	height:100px;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	opacity:0.8;	
}
td,tr{
	font-size:18px;
	font-weight:bolder;
	color:#CCC;
	padding:0px;
}
#first{
	font-size:36px;
	color:#999;
	font-family:"Arial Black", Gadget, sans-serif;
	font-style:oblique;}
#contact{
	font-family:"Comic Sans MS", cursive;
	}
